/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular[wdth,wght].ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Roboto Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic[wdth,wght].ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: italic;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold[wdth,wght].ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Roboto Bold Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic[wdth,wght].ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: italic;
}

/* Roboto Light */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light[wdth,wght].ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* Roboto Light Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic[wdth,wght].ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: italic;
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium[wdth,wght].ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

/* Roboto Medium Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic[wdth,wght].ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: italic;
}

/* Roboto Black */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black[wdth,wght].ttf') format('truetype');
  font-weight: 900; /* Black weight */
  font-style: normal;
}

/* Roboto Black Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic[wdth,wght].ttf') format('truetype');
  font-weight: 900; /* Black weight */
  font-style: italic;
}
